.filter-button {
  border-radius: 3px;
  border-color: transparent;
  color: #586069;
  cursor: pointer;
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  overflow: hidden;
  padding: 8px 10px;
  padding-right: 48px;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filter-button:focus {
  outline: 0;
}

.filter-button:hover {
  background-color: #eaecef;
  text-decoration: none;
}

.filter-button.selected {
  background-color: #0366d6;
  color: #fff;
}
